<p class="back" (click)="goBack()">Back</p>
<!-- <div>
        <button (click)="share()">Share</button>
    </div> -->
<!-- Img -->
<div class="wrapper">
    <div class="img-div">
        <img [src]="imgSrc" width="40%">
    </div>
    <div class="comment">
        <fieldset *ngIf="comments">
            <legend style="text-align:left;">Comments: </legend>
            <p>{{comments}}</p>
        </fieldset>

        <input placeholder="New comment" style="margin-top: 10px;" [(ngModel)]="newComment"><button style="margin-left:10px;" (click)="addComment()">Add</button>

    </div>
    <div [ngSwitch]="paramData.sub" style="margin-top: 20px;">

        <!-- character -->
        <div class="info" *ngSwitchCase="'people'">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>{{info.name}}</td>
                </tr>
                <tr>
                    <td>Gender: </td>
                    <td>{{info.gender}}</td>
                </tr>
                <tr>
                    <td>Birth year: </td>
                    <td>{{info.birth_year}}</td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td>{{info.height}}</td>
                </tr>
                <tr>
                    <td>Mass: </td>
                    <td>{{info.mass}}</td>
                </tr>
                <tr>
                    <td>Skin color: </td>
                    <td>{{info.skin_color}}</td>
                </tr>
                <tr>
                    <td>Eye color: </td>
                    <td>{{info.eye_color}}</td>
                </tr>

            </table>
        </div>
        <!-- +++++++++++++++++++++++++++ -->
        <!-- planet -->
        <div class="info" *ngSwitchCase="'planets'">
            <table>
                <tr>
                    <td> Name: </td>
                    <td> {{info.name}}</td>
                </tr>
                <tr>
                    <td>Diameter: </td>
                    <td> {{info.diameter}}</td>
                </tr>
                <tr>
                    <td>Gravity: </td>
                    <td> {{info.gravity}}</td>
                </tr>
                <tr>
                    <td>Orbital period: </td>
                    <td>{{info.orbital_period}}</td>
                </tr>
                <tr>
                    <td>Rotation period: </td>
                    <td>{{info.rotation_period}}</td>
                </tr>
                <tr>
                    <td>Climate: </td>
                    <td>{{info.climate}}</td>
                </tr>
                <tr>
                    <td>Terrain: </td>
                    <td>{{info.terrain}}</td>
                </tr>
                <tr>
                    <td>Surface water: </td>
                    <td> {{info.surface_water}}</td>
                </tr>
            </table>
        </div>
        <!-- +++++++++++++++++++++++++++ -->
        <!-- film -->
        <div class="info" *ngSwitchCase="'films'">
            <table>
                <tr>
                    <td>Title: </td>
                    <td>{{info.title}}</td>
                </tr>
                <tr>
                    <td>Episode ID: </td>
                    <td>{{info.episode_id}}</td>
                </tr>
                <tr>
                    <td>Release data: </td>
                    <td>{{info.release_date}}</td>
                </tr>
                <tr>
                    <td>Director: </td>
                    <td>{{info.director}}</td>
                </tr>
                <tr>
                    <td>Producer: </td>
                    <td>{{info.producer}}</td>
                </tr>
            </table>
            <p>{{info.opening_crawl}}</p>
        </div>
        <!-- +++++++++++++++++++++++++++ -->
        <!-- specie -->
        <div class="info" *ngSwitchCase="'species'">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>{{info.name}}</td>
                </tr>
                <tr>
                    <td>Classification: </td>
                    <td>{{info.classification}}</td>
                </tr>
                <tr>
                    <td>Language: </td>
                    <td>{{info.language}}</td>
                </tr>
                <tr>
                    <td>Skin colors: </td>
                    <td>{{info.skin_colors}}</td>
                </tr>
                <tr>
                    <td>Hair colors: </td>
                    <td>{{info.hair_colors}}</td>
                </tr>
                <tr>
                    <td>Eye colors: </td>
                    <td>{{info.eye_colors}}</td>
                </tr>
                <tr>
                    <td>Average height: </td>
                    <td>{{info.average_height}}</td>
                </tr>
                <tr>
                    <td>Average lifespan: </td>
                    <td>{{info.average_lifespan}}</td>
                </tr>
                <tr>
                    <td>Designation: </td>
                    <td>{{info.designation}}</td>
                </tr>
            </table>
        </div>
        <!-- +++++++++++++++++++++++++++ -->
        <!-- vehicle -->
        <div class="info" *ngSwitchCase="'vehicles'">
            <table>
                <tr>
                    <td>
                        Name: </td>
                    <td>{{info.name}}</td>
                </tr>
                <tr>
                    <td>Model: </td>
                    <td>{{info.model}}</td>
                </tr>
                <tr>
                    <td> Class: </td>
                    <td>{{info.class}}</td>
                </tr>
                <tr>
                    <td>Manufacturer: </td>
                    <td>{{info.manufacturer}}</td>
                </tr>
                <tr>
                    <td>Length: </td>
                    <td>{{info.length}}</td>
                </tr>
                <tr>
                    <td>Max atmosphering speed: </td>
                    <td>{{info.max_atmosphering_speed}}</td>
                </tr>
                <tr>
                    <td>Consumables: </td>
                    <td>{{info.consumables}}</td>
                </tr>
                <tr>
                    <td>Cost in credits: </td>
                    <td>{{info.cost_in_credits}}</td>
                </tr>
                <tr>
                    <td>Crew: </td>
                    <td>{{info.crew}}</td>
                </tr>
                <tr>
                    <td>Passengers: </td>
                    <td>{{info.passengers}}</td>
                </tr>
                <tr>
                    <td>Cargo capacity: </td>
                    <td>{{info.cargo_capacity}}</td>
                </tr>
            </table>
        </div>
        <!-- +++++++++++++++++++++++++++ -->
        <!-- starship -->
        <div class="info" *ngSwitchCase="'starships'">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>{{info.name}}
                    </td>
                </tr>
                <tr>
                    <td>Model: </td>
                    <td>{{info.model}}
                    </td>
                </tr>
                <tr>
                    <td>Class: </td>
                    <td>{{info.starship_class}}
                    </td>
                </tr>
                <tr>
                    <td>Manufacturer: </td>
                    <td>{{info.manufacturer}}
                    </td>
                </tr>
                <tr>
                    <td>Length: </td>
                    <td>{{info.length}}
                    </td>
                </tr>
                <tr>
                    <td>Max atmosphering speed: </td>
                    <td>{{info.max_atmosphering_speed}}
                    </td>
                </tr>
                <tr>
                    <td>Hyperdrive rating: </td>
                    <td>{{info.hyperdrive_rating}}
                    </td>
                </tr>
                <tr>
                    <td>MGLT: </td>
                    <td>{{info.MGLT}}
                    </td>
                </tr>
                <tr>
                    <td>Consumables: </td>
                    <td>{{info.consumables}}
                    </td>
                </tr>
                <tr>
                    <td>Cost in credits: </td>
                    <td>{{info.cost_in_credits}}
                    </td>
                </tr>
                <tr>
                    <td>Crew: </td>
                    <td>{{info.crew}}
                    </td>
                </tr>
                <tr>
                    <td>Passengers: </td>
                    <td>{{info.passengers}}
                    </td>
                </tr>
                <tr>
                    <td>Cargo capacity: </td>
                    <td>{{info.cargo_capacity}}
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>